@{
    Layout = "~/Views/Shared/_LayoutDeleteSemBotoes.cshtml";
}

@RenderBody()

@section BotoesFooterDelete{
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("Index")'">Cancelar</button>
    <button type="submit" class="btn btn-danger" form="form_Submit">Excluir</button>
}